{% extends "base.html" %}
{% block title %}Appointment Details{% endblock title %}

{% block style %}
    <style>
        .dashboard-flex{
            flex-direction: column;
        }
        .side-panel{
            width: 400px !important;
        }
        .dashboard-options{
            flex: 1;
        }
        table{
            width: 100%;
            text-align: left;
            font-size: 15px;
            cell-spaceing: 0;
            border-radius: 10px;
            overflow: hidden;
        }

        thead tr{
            background-color: white;
        }

        td, th{
            padding: 15px 5px;
            border-top: 1px solid lightgrey;
        }

        tr:hover:not(thead tr){
            background-color: #e8e8e8;
        }

    </style>
{% endblock style %}

{% set prescription_list = 'side-panel-active' %}

{% block content %}
    <section>
        <div class="dashboard-content">
            <h3>Welcome {{ user.fname }} {{ user.lname }}</h3>
            {% include "flash_message.html" %}
            <div class="dashboard-flex">
                {% include "side_panel.html" %}
                <div class="dashboard-options">
                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Doctor</th>
                                <th>Full Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Disease</th>
                                <th>Allergy</th>
                                <th>Prescription</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appt in appointments %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ appt.doctor.fname }} {{ appt.doctor.lname }}</td>
                                    <td>{{ appt.patient.fname }} {{ appt.patient.lname }}</td>
                                    <td>{{ appt.appointment_date.strftime('%d %m, %Y') }}</td>
                                    <td>{{ appt.appointment_time.strftime('%I:%M %p') }}</td>
                                    <td>{{ appt.disease }}</td>
                                    <td>{{ appt.allergy }}</td>
                                    <td>{{ appt.prescription }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}